<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Название страницы!!!</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->

<!--<div class="row">-->
<!--     <div class="col-md-4" style="border: 1px solid red">-->
<!--         <div class="dropdown">-->
<!--             <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                 Создание сущности-->
<!--             </button>-->
<!--             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                 <a class="dropdown-item" href="/createWorker">Сотрудник</a>-->
<!--                 <a class="dropdown-item" href="/createCustomer">Покупатель</a>-->
<!--             </div>-->
<!--         </div>-->
<!--     </div>-->
<!--     <div  class="offset-md-4 col-md-4" style="background-color: #9ac3c5">-->
<!--         <h1>HELLO!!!</h1>-->
<!--         <img src="123.PNG" alt="1111" width="705"/>-->
<!--         <img src="images/2020.JPG" alt="11" width="292"/>-->
<!--         <p th:text="${worker.name}"></p>-->
<!--         <p th:text="${worker.toString()}"></p>-->
<!--         <p th:each="d:${worker.orderEntityList}">-->
<!--         <td th:text="${d.orderId}"></td>-->
<!--         </p>-->
<!--     </div>-->
<!--</div>-->
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>-->
<!--</body>-->
<!--</html>-->